body{
    <style>
        .container{
            position:relative;
        }
        .Courses{
            position:absolute;
            top: 8px;
            right:16px;
            font-size:18px;
        }
        img{
            max-width:100%;
            height:auto;
            opacity:1;
        }
    </style>
}