<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product db show all</title>
</head>
<body>
<h3>
    <a href="{{ url_for('show_all') }}">pm - Flask SQLAlchemy example</a>
</h3>
<hr/>
{% for example in get_flashed_messages() %}
    {{ message }}
{% endfor %}

<h3>Product_Master</h3>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Discription</th>
        <th>Supplier</th>
        <th>Price</th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    {% for pm in pmes %}
    <tr>
        <td>{{ pm.name }}</td>
        <td>{{ pm.discription }}</td>
        <td>{{ pm.supplier }}</td>
        <td>{{ pm.price }}</td>
        <td><a href="/delete_pm?id={{ pm.id }}">Delete</a></td>
        <td><a href="/show_update?id={{ pm.id }}">Update</a></td>
    </tr>
    {% endfor %}
</table>
 <a href="/show_new">Add pm</a>
</body>
</html>